In [1]:
import pandas as pd
import numpy as np

In [2]:
column_names = ["ID", "A201_1","A201_2",
                "A301_1","A301_2",
                "A303_1","A303_2",
                "A305_1","A305_2",
                "P15_1","P15_2",
                "A202_1","A202_2",
                "A302_1","A302_2",
                "A501_1","A501_2",
                "C11_C1_1","C11_C1_2",
                "B02_C2_1","B02_C2_2",
                "A304_1","A304_2",
                "B05_C1_1","B05_C1_2",
                "B01_C1_1","B01_C1_2"]
raw = pd.read_csv("data/CannabisGenotypes.csv", names = column_names, header = 0, dtype = "object")
raw.head()

,ID,A201_1,A201_2,A301_1,A301_2,A303_1,A303_2,A305_1,A305_2,P15_1,...,C11_C1_1,C11_C1_2,B02_C2_1,B02_C2_2,A304_1,A304_2,B05_C1_1,B05_C1_2,B01_C1_1,B01_C1_2
0,UN_01,204,206,246,249,142,142,145,157,214,...,155,155,164,164,139,171,239,242,317,317
1,UN_02,164,228,207,249,142,142,145,145,214,...,140,155,164,167,171,171,239,239,315,315
2,UN_03,206,206,234,246,142,142,154,154,221,...,164,167,164,164,171,171,239,239,320,320
3,UN_04,226,228,234,234,142,148,145,145,216,...,155,155,167,167,171,171,239,239,326,326
4,UN_05,224,226,228,234,145,148,145,157,214,...,155,155,164,167,171,171,239,239,326,326

In [3]:
labeled = raw
for i in range(341):
    ide = "ID"
    if i <= 99:
        ide = ide + "0"
    if i <=9:
        ide = ide + "0"
    ide = ide + str(i)
    labeled = labeled[labeled["ID"] != ide]
labeled = labeled[labeled["ID"] != "ID"]

### Add the label of drug or nondrug

In [4]:
cannabis_gen = pd.read_csv('data/cannabis_gen.csv')
labeled["drug"] = cannabis_gen["drug"]

### Add a variable indicating the family

In [5]:
family = list(labeled['ID'])
for i in range(0, len(family)):
    family[i] = family[i].split('_')[0]
labeled['family'] = family

In [6]:
labeled.head()

,ID,A201_1,A201_2,A301_1,A301_2,A303_1,A303_2,A305_1,A305_2,P15_1,...,B02_C2_1,B02_C2_2,A304_1,A304_2,B05_C1_1,B05_C1_2,B01_C1_1,B01_C1_2,drug,family
0,UN_01,204,206,246,249,142,142,145,157,214,...,164,164,139,171,239,242,317,317,-1,UN
1,UN_02,164,228,207,249,142,142,145,145,214,...,164,167,171,171,239,239,315,315,-1,UN
2,UN_03,206,206,234,246,142,142,154,154,221,...,164,164,171,171,239,239,320,320,-1,UN
3,UN_04,226,228,234,234,142,148,145,145,216,...,167,167,171,171,239,239,326,326,-1,UN
4,UN_05,224,226,228,234,145,148,145,157,214,...,164,167,171,171,239,239,326,326,-1,UN

In [11]:
order = ["ID", "family", "drug"] + column_names[1:]
labeled = labeled[order]
labeled

,ID,family,drug,A201_1,A201_2,A301_1,A301_2,A303_1,A303_2,A305_1,...,C11_C1_1,C11_C1_2,B02_C2_1,B02_C2_2,A304_1,A304_2,B05_C1_1,B05_C1_2,B01_C1_1,B01_C1_2
0,UN_01,UN,-1,204,206,246,249,142,142,145,...,155,155,164,164,139,171,239,242,317,317
1,UN_02,UN,-1,164,228,207,249,142,142,145,...,140,155,164,167,171,171,239,239,315,315
2,UN_03,UN,-1,206,206,234,246,142,142,154,...,164,167,164,164,171,171,239,239,320,320
3,UN_04,UN,-1,226,228,234,234,142,148,145,...,155,155,167,167,171,171,239,239,326,326
4,UN_05,UN,-1,224,226,228,234,145,148,145,...,155,155,164,167,171,171,239,239,326,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,RI_20,RI,1,156,174,249,252,145,151,142,...,152,155,164,167,332,332,NaN,NaN,NaN,NaN
1320,RI_21,RI,1,174,192,231,261,145,151,142,...,152,155,167,167,139,204,242,245,329,329
1321,RI_22,RI,1,174,192,249,252,145,145,142,...,152,155,167,167,204,204,242,242,329,329
1322,RI_23,RI,1,156,174,231,252,145,145,142,...,152,155,167,167,204,204,242,245,329,329
1323,RI_24,RI,1,172,190,231,252,151,151,142,...,152,155,164,167,204,204,242,242,332,332

In [13]:
labeled.to_csv("data/labeledGenotype.csv", na_rep = -99)

In [14]:
l1 = [1,2]
l2 = [3,4]
l1+l2

[1, 2, 3, 4]